{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0",
    "title": "API Documentation | Printful",
    "description": "# About the Printful API\n\nThe Printful API is a RESTful API, that uses an HTTP protocol for communication. HTTP GET, POST, PUT and DELETE methods are used to access the API resources.\n\n## Postman Collection\n\nYou can explore the API using the Postman collection:\n\n<a href=\"postman/printful_postman_collection.json\" download>Download Postman Collection</a>\n\n## Requests and responses\n\n### Request endpoint\nAll API requests have to be sent to this URL:\n```\nhttps://api.printful.com/\n```\nIf you are using a proxy, make sure that all requests have host header set to **api.printful.com**.\n\n### Request parameters\nSome mandatory parameters (like object identifiers) must be included in the request URL path\n```\nGET /orders/123\n```\nAdditional parameters can be passed as GET variables:\n```\nGET /orders?offset=10&limit=5\n```\nFor POST and PUT requests, a more complex data structure can be passed as JSON encoded data in the request body:\n```\nPOST /orders\n\n{\"recipient\":{...},\"items\":[...]}\n```\n\n### Response body\nThe response body is always a JSON object that contains a response status code (identical to the HTTP status code) and the result of the action. If the status code is 200, then the action was successful.\n```\n{\n   \"code\": 200, //Response status code\n   \"result\":{\n      //API method return data\n\t  //...\n   }\n}\n```\n\nSometimes the response includes paging information to allow to browse larger result sets by adding offset and limit GET parameters to the request URL.\n```\n{\n   \"code\": 200, //Response status code\n   \"result\":[\n\t   {\n\t      //Item 11\n\t   },\n\t   {\n\t      //Item 12\n\t   }\n   ]\n   \"paging\": {\n      \"total\": 12,  //Total items available\n      \"offset\": 10, //Items skipped from the beginning\n      \"limit\": 20   //Number of items per page\n   }\n}\n```\n\n## Error response\nIf the API call is not successful, then the response code is not in the 2xx range and the `result` attribute contains an error description.\n```\n{\n    \"code\": 404,\n    \"result\": \"Not Found\",\n    \"error\": {\n        \"reason\": \"NotFound\",\n        \"message\": \"Not Found\"\n    }\n}\n```\n\nIn general, response codes in the 4xx range indicate an error that resulted from the provided information (e.g. a required parameter was missing, etc.), and codes in the 5xx range indicate an error with Printful's servers.\n\n### Timestamps\nAll timestamps from the API are returned as integers in UNIX timestamp format.\n\n## Rate Limits\nPrintful API has a general rate limit of 120 API calls per minute. Additionally, endpoints that perform resource intensive operations (such as mockup generator) have a lower allowed request limit.",
    "contact": {
      "name": "Printful developer support",
      "url": "https://developers.printful.com/docs/#tag/Other-resources/Developer-support"
    },
    "x-logo": {
      "url": "https://static.cdn.printful.com/dist-pf/image-assets/off-center-full-color-black.1de1e822b15b8e74075c8d1fa631d4e3.svg",
      "backgroundColor": "#FFFFFF",
      "altText": "Printful"
    }
  },
  "servers": [
    {
      "url": "https://api.printful.com",
      "description": "The Printful API is a RESTful API, that uses the HTTP protocol for communication. HTTP GET, POST, PUT and DELETE methods are used to access the API."
    }
  ],
  "tags": [
    {
      "name": "Localisation",
      "description": "Some of the resources returned by the API are translated into several languages. By default, they are returned in\nEnglish in the API responses.\n\nIf you want to get a response with texts in another language, you can use the `X-PF-Language`\nHTTP header. Its value should be the long version of the locale to use (e.g. `es_ES` for Spanish).\nPossible localisation parameters:\n- en_US\n- en_GB\n- en_CA\n- es_ES\n- fr_FR\n- de_DE\n- it_IT\n- ja_JP\n\n### Example\n\nProduct details (`GET https://api.printful.com/products/71`) response with default locale (`en_US`):\n\n```\n{\n    \"code\": 200,\n    \"result\": {\n        \"product\": {\n            \"type_name\": \"T-Shirt\",\n            \"title\": \"Unisex Staple T-Shirt | Bella + Canvas 3001\",\n            ...\n        }\n    }\n}\n```\n\nProduct details response with Spanish locale (`X-PF-Language: es_ES`):\n\n```\n{\n    \"code\": 200,\n    \"result\": {\n        \"product\": {\n            ...\n            \"type_name\": \"Camiseta\",\n            \"title\": \"Camiseta esencial unisex | Bella + Canvas 3001\",\n            ...\n        }\n    }\n}\n```\n"
    },
    {
      "name": "Authorization",
      "description": "### Private tokens and public apps\nThere are two different ways of using Printful OAuth - **Private token** and **Public App**. If you are developing an API solution for your personal store, you should choose ***Private Token***. But if you are building an Public App that will be used by a wider audience, you should be choosing **Public App**.\n\n### Client types\nThere are two different client types - **Store** and **Account**. Store access level client is only able to access the\nspecific store. For _Private tokens_ this store is specified when the token is created, but for _Public apps_ this store\nis specified when the app is installed. Account level tokens on the other hand can manage all the stores associated with\nthe account. For the endpoints that require specific store context, requests should contain `X-PF-Store-Id` header.\nAccount level access currently is only available for _Private tokens_.\n\n### Scopes\nScopes are used to limit access to specific resources and their methods. Scopes are defined in the developer portal when creating a **Private Token** or **Public App**. Customers on **Public App** installation grant screen will see all requested permissions, so be thoughtful about which scopes to request.\n\nList of currently available scopes\n\n| Scope                    | Client type     | Description                                  |\n|--------------------------|-----------------|----------------------------------------------|\n| `orders`                 | Store & Account | Read and Write access to Orders              |\n| `orders/read`            | Store & Account | Read access to Orders                        |\n| `sync_products`          | Store & Account | Read and Write access to SyncProducts        |\n| `sync_products/read`     | Store & Account | Read access to SyncProducts                  |\n| `file_library`           | Store & Account | Read and Write access access to File library |\n| `file_library/read`      | Store & Account | Read access to File library                  |\n| `webhooks`               | Store & Account | Read and Write access to Webhooks            |\n| `webhooks/read`          | Store & Account | Read access to Webhooks                      |\n| `product_templates`      | Account         | Read and Write access to Product templates   |\n| `product_templates/read` | Account         | Read access to Product templates             |\n\n### Developer Portal\n[Developer Portal](https://developers.printful.com) is specifically designed for developers that want to interact with the Printful API. In the Developer Portal, it's possible to create and manage your Public Apps and Private tokens.\n\n### Acquiring Private Tokens\nPrivate OAuth tokens can be generated in the Developer Portal's [Token page](https://developers.printful.com/tokens). These tokens do not require refreshing and are valid until they expire or are deleted manually. Usage of these tokens is described below.\n\n### Acquiring OAuth tokens for Public Apps\nFor public apps to make requests on behalf of the customer, they must first acquire access tokens. In order to acquire these tokens, developers must follow these steps:\n- create an app in [Apps page](https://developers.printful.com/apps) of developer portals\n- generate app-specific installation URL with `Client id`, `Client secret`, and other parameters\n- redirect the user to app installation url\n- once the users returns to `redirect_url`, use `code` parameter to acquire OAuth tokens"
    },
    {
      "name": "Public App authorization",
      "description": "#### Public App installation flow\nPublic App installation starts with a user redirection to an app-specific installation URL. Installation URL has to be\ngenerated in the following format:\n\n`https://www.printful.com/oauth/authorize?client_id={clientId}&state={stateValue}&redirect_url={redirectUrl}`\n\n| Parameter    | Description                                                                                                    |\n|--------------|----------------------------------------------------------------------------------------------------------------|\n| client_id    | the `Client id` of your app                                                                                    |\n| state        | use the optional state parameter to help keep track of the customer throughout the installation process        |\n| redirect_url | URL to where the customer should be taken after the authorization step. This URL must be registered in the app |\n\nIn this URL, the customer is asked to register or log in to an existing account. After authorization, the customer is redirected to the OAuth grant screen. This screen shows information about your app, and the customer is asked to accept the requested scopes. If the customer rejects the app installation, he is redirected back to your provided `redirect_url` with `success=0` parameter. If the customer accepts app installation, he is redirected to your `redirect_url` with `state={stateValue}&code={authorizationCode}&success=1` parameters.\n\n| Parameter | Description                                                               |\n|-----------|---------------------------------------------------------------------------|\n| state     | state parameter that was provided when installation flow was initialized  |\n| code      | authorization code that will be used to request access and refresh tokens |\n| success   | flag indicating that authorization flow was successful                    |\n\nAfter receiving `authorization code`, apps should request `access` and `refresh` tokens. To request these tokens, the app should make a `POST` request to `https://www.printful.com/oauth/token` page with the following parameters:\n\n- grant_type=authorization_code\n- client_id={clientId}\n- client_secret={clientSecret}\n- code={authorizationCode}\n\nIf the request is successful the following response is returned:\n```javascript\n{\n  \"access_token\": \"smk_GN0I1Os3OdfqzjJnTOWn1wlbqqq2Y2Pc10TS\",\n  \"expires_at\": \"1562157895\",\n  \"token_type\": \"bearer\",\n  \"refresh_token\": \"902LmW0sWNlY-mbrLhb6AgexkI6K4OFo3Hknak8HDhTy_ifB5SdoLH1QgV9\"\n}\n```\n| Field         | Description                                                                                                        |\n|---------------|--------------------------------------------------------------------------------------------------------------------|\n| access_token  | this token should be used to make authorized API calls                                                             |\n| expires_at    | timestamp for the date when the `access_token` will expire                                                         |\n| token_type    | type of the token. Currently only `bearer`. Use it together with the `access_token` in authorized requests headers |\n| refresh_token | a token that can be used to refresh the `access_token` once it expires                                             |\n\n### Refreshing tokens\nThe `access_token` will expire in **one hour**. When `access_token` expires you must refresh it with the `refresh_token`. After refreshing tokens, you will receive a new set of `access_token` and `refresh_token`. If tokens are not refreshed within **90** days, `refresh_token` will expire, and the app will have to ask the user to reauthorize it. To refresh tokens you must make a `POST` request to `https://www.printful.com/oauth/token` with the parameters:\n\n- grant_type=refresh_token\n- client_id=`{clientId}`\n- client_secret=`{clientSecret}`\n- refresh_token=`{refreshToken}`\n\nThe successful refresh request will result in a similar response that you received previously:\n```javascript\n{\n  \"access_token\": \"smk_GN0I1Os3OdfqzjJnTOWn1wlbqqq2Y2Pc10TS\",\n  \"expires_at\": \"1562157895\",\n  \"token_type\": \"bearer\",\n  \"refresh_token\": \"902LmW0sWNlY-mbrLhb6AgexkI6K4OFo3Hknak8HDhTy_ifB5SdoLH1QgV9\"\n}\n```"
    },
    {
      "name": "OAuth API",
      "description": "OAuth API allows receiving data for token"
    },
    {
      "name": "Catalog API",
      "description": "Printful has a substantial catalog of blank Products and Variants. A Product can describe a specific type, model and manufacturer of the item, while the Variant specifies the more detailed attributes of the product like the exact size/color of a\nT-shirt or the dimensions of a poster. Moreover, each item in the Printful Catalog has a unique Variant ID. When managing Sync Products or orders, you will need to specify the Variant ID of the specific blank item, hence you can use this API resource\nto find the needed Variant ID.\n\n<div class=\"alert alert-info\">\nIt is critically important to always refer to the Variant IDs (<strong>NOT Product IDs</strong>) when creating products or orders. Mixing up and using the Product ID instead of the Variant ID can lead to an entirely different product created or item ordered. \nThe Product entity is only meant to allow of easier browsing of what Printful offers.\n</div>\n\nYou can also use this API resource to find out the types of print files a product can be configured for as well as the\nadditional price each print file would cost (e.g. the back print or inside label print for T-shirts). Moreover, some\nproduct types allow for additional options (e.g. embroidery type and thread colors) - these options are listed in the\nresponses as well.\n\n<div class=\"alert alert-info\">\nPlease note that the current Catalog API does not reflect the discounted pricing available in the Printful subscription plans.\n</div>\n\n**Important**: Jewelry products are not supported via API.\n\n**Rate limiting**: For unauthenticated usages, up to 30 requests per 60 seconds. A 60 seconds lockout is applied if\nrequest count is exceeded.\n\n### Size guides\n\nThe [Get Product Size Guide](#operation/getProductSizeGuideById) endpoint will return size guide data for the selected\nproduct.\n\nThere are three types of size tables available, as described by the following table:\n\n| Table type                    | API name           | Description                                                                                 |\n|-------------------------------|--------------------|---------------------------------------------------------------------------------------------|\n| Measure yourself              | `measure_yourself` | Measurements of the product to measure the body provided by the supplier.                   |\n| Product measurements          | `product_measure`  | Measurements of the product provided by the supplier.                                       |\n| International size conversion | `international`    | International size conversion – e.g. US, EU or UK sizes corresponding to the product sizes. |\n\nNot each table type might be available for the selected product.\n\n[See examples](#tag/Examples/Catalog-API-examples/Using-size-guides)"
    },
    {
      "name": "Products API",
      "description": "**The Products API resource lets you create, modify and delete products in a Printful store based on the Manual orders /\nAPI platform** (you can create such store by going to the Stores section at your Printful dashboard.)\n\n**Important**: Jewelry products are not supported via API.\n\n<div class=\"alert alert-info\" style=\"word-wrap: break-word; padding: 16px; border-radius: 0; cursor: default; color: #31708f; background-color: #d9edf7; border-color: #bce8f1;\">\nTo configure products and variants at a Printful store based on Shopify, WooCommerce or another supported integration platform, please see <a href=\"#tag/Ecommerce-Platform-Sync-API\">Ecommerce Platform Sync API</a>.\n</div>\n\nTo manage Warehouse products, please see <a href=\"#tag/Warehouse-Products-API\">Warehouse Products API</a>.\n\n### The basics\n\nEach product in your Printful store must contain one or multiple variants (imagine multiple sizes or colors of the same\nt-shirt design). Furthermore, for each variant, you have to specify both a blank product variant from our Printful\nCatalog and a print file. These two properties together with price and External ID (more on that later) will allow the\nvariant to be purchasable. Please, see the following sections for more details. Finally, please note that for technical\nreasons a product in your Printful store is called a Sync Product and a variant of that product is called a Sync Variant. The maximum supported amount of Sync Variants a Sync Product can have is 100.\n\n### Assigning a blank product variant\nPrintful has a substantial catalog of blank products and variants, where each variant (e.g. size and color combination\nof a particular product) has a unique ID, which we call variant_id. You can browse through the catalog via Catalog API\nto find a specific variant_id. Moreover, when creating a Sync Product at your Printful store, each of its Sync Variants\nmust be associated with a variant_id from the Printful Catalog. Furthermore, to assign a specific variant_id to a\nspecific Sync Variant, simply add it to the HTTP request body (see examples at the specific endpoint).\n\n### Assigning a single print file\nThere are two ways to assign a print file to a Sync Variant. One is to specify the File ID if the file already exists in the File library of the authorized store;\n\n### Limitations\n\n**Important**: The Products API is not intended and will never support creating and managing products in external platforms such as Shopify, WooCommerce and others. For managing your products from external platforms please refer to [Ecommerce Platform Sync API](#tag/Ecommerce-Platform-Sync-API)\n\n```\n{\n    ...\n    \"files\": [\n        {\n            \"id\": 12345\n        }\n    ],\n    ...\n}\n```\nThe second and most convenient method is to specify the file URL. If a file with the same URL already exists, it will be reused.\n\n```\n{\n    ...\n    \"files\": [\n        {\n            \"url\": \"http://example.com/t-shirts/123/front.pdf\"\n        }\n    ],\n    ...\n}\n```\nMoreover, each Sync Variant has to be linked with one or multiple print files. The available file types for each product are available from the Printful Catalogue API. You can add one file for each type by specifying the type attribute. For the\ndefault type, this attribute can be skipped.\n\n```\n...\n\"files\":[\n    {\n        \"type\": \"default\",\n        \"url\": \"http://example.com/t-shirts/123/front.pdf\"\n    },\n    {\n        \"type\": \"back\"\n        \"url\": \"http://example.com/t-shirts/123/back.pdf\"\n    }\n],\n...\n```\nRemember that using additional files can increase the price of the item.\n\n### External ID\nWhen creating a Sync Product and/or Sync Variant you can specify an External ID, which you can then use as a reference when managing or even ordering the specific Sync Product or Sync Variant. In particular, when requesting a specific Sync Product\nand Sync Variant, you can use either the internal Printful ID or your External ID (prefixed with an @ symbol) at the request URL.\n\n### Native inside label\nPrintful previously allowed customers to upload a fully customized inside label. Since these labels had to contain specific information about fabric composition, manufacturing, etc. to meet the legal requirements, users usually encountered issues to\nget their labels printed.\n\nInside labels are printed on the inside of the garment and require the removal of the original manufacturer's tag. They're only available for apparel with tear-away labels. An inside label must include the country of manufacturing origin, original\ngarment size, and material information. To use our native label template you only need to upload a graphic (such as your brand's logo). The mandatory content will be generated and placed automatically.\n\n```\n...\n\"files\":[\n        {\n            \"type\": \"label_inside\",\n            \"url\": \"http://example.com/logo/123/image.jpg\",\n            \"options\": [{\n                \"id\": \"template_type\",\n                \"value\": \"native\"\n            }]\n        },\n],\n...\n```\nPrintful previously supported fully customized inside labels. These have now been deprecated. The ability to create orders with fully customized inside labels has been limited to only users who were actively using them in their stores before April\n2020. This feature is no longer accessible to new users.\n\n[See examples](#tag/Examples/Products-API-examples)\n"
    },
    {
      "name": "Product Templates API",
      "description": "The Product Templates API resource lets you retrieve the product templates information.\n\n### External Product ID\n\nIn case of a single template retrieval it is possible to get it by the External Product ID. In order to do this, the ID needs to be prepended with the '@' character. Here are the examples of how to get the template data by the Template ID and by the External Product ID.\n\n```\nGET /product-templates/11001  - reference by Printful Template ID\nGET /product-templates/@988123  - reference by External ID\n```\n\n[See examples](#tag/Product-Templates-API)\n"
    },
    {
      "name": "Orders API",
      "description": "The Orders API is the most important part of the Printful API - it allows you to create new orders and confirm them for\nfulfillment.\n\n**Important**: Jewelry products are not supported via API.\n\n### Order life cycle and statuses\n\nEach order will go through different states while being processed. The following order status types indicate those\nstates:\n\n<table>\n    <tr>\n        <td><strong>draft</strong></td>\n        <td>The order is created but is not yet submitted for fulfillment. You still can edit it and confirm later.</td>\n    </tr>\n    <tr>\n        <td><strong>inreview</strong></td>\n        <td>The order is being reviewed. It's not possible to cancel the order at this point. It will be possible to cancel the order when the review process is finished.</td>\n    </tr>\n    <tr>\n        <td><strong>pending</strong></td>\n    <td>The order has been submitted for fulfillment, but is not yet accepted for fulfillment. You can still cancel the order if you need.</td>\n    </tr>\n    <tr>\n        <td><strong>failed</strong></td>\n        <td>Order was submitted for fulfillment but was returned for review because of an error (problem with address, missing printfiles, charging has failed, etc.).</td>\n    </tr>\n    <tr>\n        <td><strong>canceled</strong></td>\n        <td>The order has been canceled and can no longer be processed. If the order was charged then the amount has been returned to your credit card.</td>\n    </tr>\n    <tr>\n        <td><strong>inprocess</strong></td>\n        <td>The order is being fulfilled and can no longer be cancelled or modified. Contact customer support if there are any issues with the order at this point.</td>\n    </tr>\n    <tr>\n        <td><strong>onhold</strong></td>\n        <td>The order has encountered a problem during the fulfillment that needs to be resolved together with Printful customer service before fulfillment can continue.</td>\n    </tr>\n    <tr>\n        <td><strong>partial</strong></td>\n        <td>The order is partially fulfilled (some items are shipped already, the rest will follow)</td>\n    </tr>\n    <tr>\n        <td><strong>fulfilled</strong></td>\n        <td>All items have been shipped successfully</td>\n    </tr>\n    <tr>\n        <td><strong>archived</strong></td>\n        <td>The order has been archived and hidden from the UI</td>\n    </tr>\n</table>\n\nTo sum up, the API allows you to create orders with status `draft` and then move them to state `pending` (both steps can\nbe done with a single action). You are only charged for orders that have been confirmed. If the order encounters a\nproblem after it has been submitted, then it is moved to the failed state so that the problem can be fixed and the order\ncan be resubmitted.\n\n### Asynchronous order cost calculation\n\nMost of the times, when you submit an order, we'll perform the cost calculation and return it in the response.\n\nHowever, we might not be able to calculate all the costs immediately, for example if the order contains a new advanced\nembroidery design. If that's the case, we'll automatically put your order on hold, calculate the order costs once it's\npossible, and then remove the order from hold.\n\nSuch an order will return to a draft status (even if it was created with the auto-confirm option) and will need to be\nconfirmed.\n\nYou can subscribe to the `order_remove_hold` event (see [Webhook API](#tag/Webhook-API)) to be notified when the order is removed from hold.\n\n### External ID\n\nExternal ID is an optional feature that allows you to link your Printful order with the Order ID from your system\nwithout the need to store additional data on your side. External ID can be up to 32 characters long and contain digits,\nLatin alphabet letters, dashes and underscores, however it is recommended to use integer numbers. Each order's External\nID must be unique within the store.\n\nTo use the External ID feature, you just add the `external_id` attribute when creating the order. Later, when you need\nto access the order through the API, you can reference it by both the Order ID and by External ID (if you prefix it with\nthe `@` symbol).\n\n```\nGET /orders/11001  - reference by Printful Order ID\nGET /orders/@988123  - reference by External ID\nGET /orders/@AA123123  - reference by External ID\n```\n\nYou can assign the `external_id` attribute to line items as well. In this case they have to be unique per order.\n\n### Specifying products\n\nThere are three general ways to specify a product’s variant when creating, updating or estimating an order:\n\n(A) **Using an existing product variant (sync variant) in your Printful store or warehouse.** To specify the existing\nproduct please use its `sync_variant_id` or `external_variant_id`, or `warehouse_product_variant_id`.\n\n[Example using Sync Variant ID](#tag/Examples/Orders-API-examples/Using-a-sync-variant)\n[Example using External Variant ID](#tag/Examples/Orders-API-examples/Using-sync-variant-with-external-ID)\n\n(B) **Using a Catalog API variant without adding a product to the store.** This method can be used when a Printful store\nhas no products in it. To construct a variant on-the-fly retrieve a specific `variant_id` from the\n[Catalog API](#tag/Catalog-API) together with print files and an additional options.\n\n[Example](#tag/Examples/Orders-API-examples/Using-a-catalog-variant)\n\n(C) **Using an existing template ID.** This method can be used when a Printful store has assigned templates without the\nneed to create products. To create an order please use the `product_template_id` and `variant_id` that will be added to\nthe order.\n\n[Example](#tag/Examples/Orders-API-examples/Using-a-product-template)\n\n### Adding print files\n\nThere are two ways to assign a print file to the item. One is to specify the File ID if the file already exists in the\nfile library of the authorized store:\n\n```\n...\n\"files\": [\n    {\n        \"id\": 12345\n    },\n],\n...\n```\n\nThe second and the most convenient method is to specify the file URL. If a file with the same URL already exists, it will be reused.\n\n```\n...\n\"files\": [\n    {\n        \"url\": \"http://example.com/t-shirts/123/front.pdf\"\n    },\n],\n...\n```\n\n### Specifying file position\n\nYou can specify the image position inside the print area by providing a position object.\n\n<strong>Important</strong><br>\n* Each print area has specific dimensions, by default Orders API will assume that your file has to stick to those limitations and not exceed them. In some cases you would want to position your file outside the print area - to be able to do so use the `limit_to_print_area` and set it to: `false`.\n* `limit_to_print_area` determines if the image can cross the print area border. If `limit_to_print_area` is set to `true` then the request will result in `400 Bad Request` with \"Invalid position\" in `error.message` once the image crosses the print area borders. If `limit_to_print_area` is set to `false` then it will be possible to place image partially or fully outside the print area.\n* The (0,0) point is always located in top left corner of the print area.\n\n<strong>Steps</strong><br>\n1.Retrieve printfile dimensions [Printfiles](#operation/getPrintfiles)\n```\n...\n\"printfiles\":\n    [\n        {\n            \"printfile_id\": 1,\n            \"width\": 1800,\n            \"height\": 2400,\n            \"dpi\": 150,\n            \"fill_mode\": \"fit\",\n            \"can_rotate\": false\n        }\n    ],\n...\n```\n2.Specify file position for specific print placement while creating an order. Use `items` -> `files` -> `position` object as in the example:\n```\n...\n\"items\": [\n    {\n        \"variant_id\":4011,\n        \"quantity\":\"1\",\n        \"files\": [\n            {\n                \"type\": \"front\",\n                \"url\": \"http://example.com/t-shirts/123/front.pdf\",\n                \"position\": {\n                    \"area_width\": 1800,\n                    \"area_height\": 2400,\n                    \"width\": 1800,\n                    \"height\": 1800,\n                    \"top\": 300,\n                    \"left\": 0,\n                    \"limit_to_print_area\": true\n                }\n            }\n        ]\n    }\n]\n...\n```\n\n#### Example of positioning the 450x450 image on the front placement\n\n<table>\n  <tr>\n    <td> Position </td> \n    <td> Mockup </td>\n    <td> Payload </td>\n  </tr>\n  <tr>\n<td> Top left </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/top_left.png\" width=\"300\"/> </td>\n<td>\n\n```\n  \"position\": {\n  \"area_width\": 1800,\n  \"area_height\": 2400,\n  \"width\": 450,\n  \"height\": 450,\n  \"top\": 0,\n  \"left\": 0,\n  \"limit_to_print_area\": true\n  }\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Top middle </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/top_middle.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n\"area_width\": 1800,\n\"area_height\": 2400,\n\"width\": 450,\n\"height\": 450,\n\"top\": 0,\n\"left\": 675,\n\"limit_to_print_area\": true\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Top right </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/top_right.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n\"area_width\": 1800,\n\"area_height\": 2400,\n\"width\": 450,\n\"height\": 450,\n\"top\": 0,\n\"left\": 1350,\n\"limit_to_print_area\": true\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Middle </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/middle.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n\"area_width\": 1800,\n\"area_height\": 2400,\n\"width\": 450,\n\"height\": 450,\n\"top\": 975,\n\"left\": 675,\n\"limit_to_print_area\": true\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Bottom left </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/bottom_left.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n\"area_width\": 1800,\n\"area_height\": 2400,\n\"width\": 450,\n\"height\": 450,\n\"top\": 1950,\n\"left\": 0,\n\"limit_to_print_area\": true\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Bottom middle </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/bottom_middle.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n\"area_width\": 1800,\n\"area_height\": 2400,\n\"width\": 450,\n\"height\": 450,\n\"top\": 1950,\n\"left\": 675,\n\"limit_to_print_area\": true\n}\n```\n\n</td>\n</tr>\n\n<tr>\n<td> Bottom right </td>\n<td> <img alt=\"Top left mockup\" src=\"images/position/bottom_right.png\" width=\"300\"/> </td>\n<td>\n\n```\n\"position\": {\n\"area_width\": 1800,\n\"area_height\": 2400,\n\"width\": 450,\n\"height\": 450,\n\"top\": 1950,\n\"left\": 1350,\n\"limit_to_print_area\": true\n}\n```\n\n</td>\n</tr>\n\n</table>\n\n### Specifying multiple files per item\n\nEach item in the order has to be linked with one or multiple files. The available file types for each product are\navailable from the [Catalog API](#tag/Catalog-API).\n\nYou can add one file for each type by specifying the `type` attribute. For the `default` type, this attribute can be\nskipped.\n\n```\n...\n\"files\":[\n\t{\n\t\t\"type\": \"default\",\n\t\t\"url\": \"http://example.com/t-shirts/123/front.pdf\"\n\t},\n\t{\n\t\t\"type\": \"back\"\n\t\t\"url\": \"http://example.com/t-shirts/123/back.pdf\"\n\t},\n\t{\n\t\t\"type\": \"preview\"\n\t\t\"url\": \"http://example.com/t-shirts/123/preview.png\"\n\t}\n],\n...\n```\n\nRemember that using additional files can increase the price of the item.\n\n### Creating orders from a template\n\nOrders API allows also creating orders based on the product template created in the Printful account without the need to\nadd the product to the Printful store.\n\nTo retrieve available templates for your account please use the\n[Products Templates API](#tag/Product-Templates-API).\n\nTo create an order from a template you need to specify a variant or variants that will be added to the order. It is\npossible to use multiple templates with different variants in one request. To achieve that please use the `items` object\nbelow:\n\n```\n    ...\n    \"items\": [\n        {\n            \"variant_id\": 4012,\n            \"quantity\": 1,\n            \"product_template_id\": 123456789\n        },\n        {\n            \"variant_id\": 1,\n            \"quantity\": 2,\n            \"product_template_id\": 11235813\n        },\n    ]\n    ...\n```\n\n**Important note**: you can only create orders from templates for variant IDs from the Catalog API.\n\nMore examples are available [here](#tag/Examples/Orders-API-examples/Using-a-product-template).\n\n### Retail costs\n\nPrintful allows you to specify your retail costs for the order so that the packing slip for international orders can\ncontain your correct retail prices. To enable retail costs, each item in the order has to contain the `retail_price`\nattribute. You can also specify a custom discount sum, shipping costs and taxes in the `retail_costs` object when\ncreating the order. If the retail costs are missing, the packing slip will contain the Printful prices instead.\n\n### Native inside label\n\nPrintful previously allowed customers to upload a fully customized inside label. Since these labels had to contain\nspecific information about fabric composition, manufacturing, etc. to meet the legal requirements, users usually\nencountered issues to get their labels printed.\n\nInside labels are printed on the inside of the garment and require the removal of the original manufacturer's tag.\nThey're only available for apparel with tear-away labels. An inside label must include the country of manufacturing\norigin, original garment size, and material information. To use our native label template you only need to upload a\ngraphic (such as your brand's logo). The mandatory content will be generated and placed automatically.\n\n```\n...\n\"files\":[\n        {\n            \"type\": \"label_inside\",\n            \"url\": \"http://example.com/logo/123/image.jpg\",\n            \"options\": [{\n                \"id\": \"template_type\",\n                \"value\": \"native\"\n            }]\n        },\n],\n...\n```\n\nPrintful previously supported fully customized inside labels. These have now been deprecated. The ability to create orders with fully customized inside labels has been limited to only users who were actively using them in their stores before April 2020. This feature is no longer accessible to new users.\n\n### Ordering embroidery products\n\nEmbroidery is a technique which uses colored threads, sewn into a product, to recreate provided design. In order to use embroidery technique you first need to check if selected product support embroidery technique.\n\nIn order to do that you need to use [Catalog API](#tag/Catalog-API) to determine if the selected product or variant contains `EMBROIDERY` technique.\n```\n\"techniques\": [\n                {\n                    \"key\": \"EMBROIDERY\",\n                    \"display_name\": \"Embroidery\",\n                    \"is_default\": true\n                }\n            ]\n```\nAfter that you need to also get list of available embroidery placements. Those are listed under `file` property with `embroidery_` prefix. You can get list of all available placements in [Placements](#tag/Common/Placements).\n\n<details>\n    <summary>Example of file property</summary>\n\n```\n\"files\": [\n                {\n                    \"id\": \"default\",\n                    \"type\": \"embroidery_front\",\n                    \"title\": \"Front\",\n                    \"additional_price\": null\n                },\n                {\n                    \"id\": \"back\",\n                    \"type\": \"embroidery_back\",\n                    \"title\": \"Back\",\n                    \"additional_price\": \"3.75\"\n                },\n                {\n                    \"id\": \"left\",\n                    \"type\": \"embroidery_left\",\n                    \"title\": \"Left side\",\n                    \"additional_price\": \"3.75\"\n                },\n                {\n                    \"id\": \"right\",\n                    \"type\": \"embroidery_right\",\n                    \"title\": \"Right side\",\n                    \"additional_price\": \"3.75\"\n                },\n                {\n                    \"id\": \"preview\",\n                    \"type\": \"mockup\",\n                    \"title\": \"Mockup\",\n                    \"additional_price\": null\n                }\n            ]\n```\n\n</details>\n\nTo create an order using embroidery technique you can:\n\n- Provide thread colors manually [See example](#tag/Common/Embroidery/Manually-defining-thread-colors)\n- Use automatic thread color detection [See example](#tag/Common/Embroidery/Automatic-thread-color)\n\nFinally, you can make an order using embroidery\ntechnique [See example](#tag/Examples/Orders-API-examples/Using-embroidery-products). Depending on the placement that you've\nused you need to specify the correct [thread color option](#tag/Common/Options).\n\n### Packing slip\n\nThe packing slip fields can be configured at the store level and overridden for a specific order.\n\nThe packing slip settings can be found in Dashboard at **Settings > Stores > Branding > Packing slip section**.\n\nTo override the packing slip settings for the order, you can use `packing_slip` or `gift` fields.\n\nBelow you can find an example or a packing slip for a shipment with explained fields.\n\n![packing slip](images/sample_packing_slip.png)\n\nField annotations:\n\n* **(1)** Barcode unique for the shipment.\n* **(2)** Store logo defined in the store settings or overridden using `packing_slip.logo_url` field. The provided image is converted to a grayscale/1-bit monochrome image.\n* **(3)** The date of the shipment.\n* **(4)** Packing slip number consisting of order and shipment IDs in Printful database, divided with a hyphen.\n* **(5)** The country from which the shipment is made. If the recipient is in the United States, this field will be\n  absent.\n* **(6)** Recipient address with phone, without email address.\n* **(7)** Store name. This can be overridden using `packing_slip.store_name`.\n* **(8)** The address to which the shipment should be returned. By default it will be a Printful’s return address, but\n  you can set your own address in the store settings (**Settings > Stores > Returns > Return address section**).\n* **(9)** The customer service phone number defined in the store settings or overridden using `packing_slip.phone`\n  field.\n* **(10)** The customer service email address defined in the store settings or overridden using `packing_slip.email`\n  field.\n* **(11)** Gift message. This is only present if the `gift` field was provided in the order request.\n* **(12)** The order creation date.\n* **(13)** Printful Order ID which can be overridden using `packing_slip.custom_order_id` field.\n* **(14)** The list of order items with quantities. The items’ display names are localized, using the recipient’s\n  country and include variant information such as color and size e.g. „Unisex Staple T-Shirt | Bella + Canvas 3001 (\n  Lilac / M)”.\n* **(15)** The packing slip message defined in the store settings or overridden using `packing_slip.message` field.\n\n### More Orders API examples\n\nSee the [examples section](#tag/Examples/Orders-API-examples) for more sample requests on how Orders API can be used in\ndifferent scenarios.\n\n### Custom border color option\n\nStickers can have a different border color which can be set by using the `thread_colors_outline` option.\nThis option is available in `options` for stickers. To showcase the usage we will use the order flow\nwhich will create order with a sticker that will have a red border color:\n\nEndpoint `POST https://api.printful.com/orders`\n<details>\n    <summary>Request body</summary>\n\n```\n{\n    \"shipping\": \"STANDARD\",\n    \"recipient\": {\n        \"name\": \"John Smith\",\n        \"address1\": \"19749 Dearborn St\",\n        \"city\": \"Chatsworth\",\n        \"country_code\": \"US\",\n        \"state_code\": \"CA\",\n        \"zip\": \"91311\"\n    },\n    \"items\": [\n        {\n            \"variant_id\": 10163,\n            \"files\": [\n                {\n                    \"type\": \"default\",\n                    \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n                }\n            ],\n            \"options\": [\n                {\n                    \"id\": \"custom_border_color\",\n                    \"value\": \"#FF0000\"\n                }\n            ]\n        }\n    ]\n}\n```\n\n</details>"
    },
    {
      "name": "File Library API",
      "description": "To avoid the need to upload every file again when the same item is ordered,\nyour print files are stored in the File Library and can be reused.\n\nYou can use this API to directly add files to the library, and later use\nFile IDs when creating orders. However, the more convenient way is to specify\nthe files by URL at the same time the order is created.\n\n<div class=\"alert alert-info\">\nMost probably you will never need to use this API - just specify the file URL\nwhen creating orders and the files will be added automatically.\n</div>\n\nFile processing can be very time-consuming, so they are processed\nasynchronously. After you add a file, it is saved with the status\n`waiting` and downloaded and processed later. Afterward, the status\nis changed to `ok` if the file was loaded successfully and was a valid\nimage file or `failed` if the process did not succeed. Some file\nmetadata fields like dimensions and resolution are only filled in\nafter the file has been processed.\n\nIf an order with a file has been confirmed before the file was processed,\nand the file turns out to be invalid, then the order is reverted to a failed\nstate and needs to be corrected and confirmed again.\n\nIf you try to add a file that has an identical URL to an already\nexisting file, then no new file is created, and the system returns\nthe old one without refreshing its contents.\n\n<div class=\"alert alert-info\">\n<strong>Remember</strong><br>\nIf you have changed the original, make sure that the URL is changed as well\nfor future orders, otherwise the old version will be reused.\n</div>\n\nYou can add a “last modified” timestamp to the end of the URL to ensure\nthat the URL is different for changed files.\n\nFiles that are added through the API can be set not to show up in the\nFile library on the web,\njust set the visible attribute to false when creating them.\n\n**Caution: API endpoint \"Get list of files\" (/files) is removed and can no longer be used. Calling this endpoint will return a HTTP 410 (Gone) response.**\n"
    },
    {
      "name": "Shipping Rate API",
      "description": "The Shipping rate API calculates the shipping rates for an order based on the recipient's location and the contents of\nthe order.\n\nThe returned shipping rate ID can be used to specify the shipping method when creating an order.\n\nSee [Country/State Code API](#tag/CountryState-Code-API) for information about the Country codes.\n\nSee [Catalog API](#tag/Catalog-API) for information about the Variant IDs.\n\n<div class=\"alert alert-info\">\n<p><strong>Note:</strong> The shipping rates endpoints are meant to be called only right before placing an order to display\navailable shipping rates and methods.</p>\n\nDynamic shipping rates can change even in the span of one hour because it takes live facility and carrier information\ninto account. Different rates may be calculated for different products, quantities and recipient data.\n\nEven daily downloads of this data, reused only for identical orders, can result in mismatches between the displayed\nrates and the charged rates, potentially resulting in customer dissatisfaction.\n\nA CSV file containing flat rates data for different categories of products may be downloaded\nfrom https://www.printful.com/shipping-rates-report/shipping-rates-report/download and hardcoded to reduce the shipping\nrate volume massively if you use flat rate shipping.\n</div>\n\n**Rate limiting:** The default rate limit is 120 requests per 60 seconds.\n\n<div class=\"alert alert-danger\">\n  <strong>Warning:</strong> If the summary item quantity count exceeds 100 then the rate limit\nis changed to 5 requests per 60 seconds.\n</div>\n\nA 60 seconds lockout is applied if request count is exceeded."
    },
    {
      "name": "Ecommerce Platform Sync API",
      "description": "The ecommerce platform sync API allows you to automatically assign Printful\nproducts and print files to the products in your online store (Shopify, Woocommerce, etc.)\nthat is linked to Printful.\n\n### Sync Products & Sync Variants explained\n\nEach product in your store can contain one or multiple variants\n(some ecommerce platforms would call these options) that the customer can purchase\n(imagine multiple sizes or colors of the same t-shirt design). When you link your\necommerce store to Printful, we create a copy of your product and variant lists\non our side - we call it Sync Products and Sync Variants.\n\nSimilar to your store, products that are sold by Printful also consist of multiple variants.\nEach t-shirt model is available in many sizes and colors.\n\n![Image](images/variants.png?center)\n\nThe purpose of Sync Variants is to let you link each variant from your store that\nwill be fulfilled by Printful with a design file(s) and specific variant from Printful\nproduct catalogue. When synced products are ordered, we'll know which Printful product\nneeds to be printed, and the order is imported into Printful for fulfillment.\n\nYou can configure each Sync Variant in the Printful Dashboard manually. However,\nthat can be quite a tedious and repetitive task if your store sells hundreds of products.\nThis API is designed to help you automate this process.\n\n<div class=\"alert alert-info\">\n<strong>Remember</strong><br>\nProduct data is not imported to Printful immediately after the product is \ncreated/updated in your ecommerce platform. Depending on the platform, it can take from\na couple of seconds up to a few hours for the products to be available on Printful.\nBefore the products are imported, you will not be able to update product information \nthrough this API.\n</div>\n\n### External ID\n\nExternal ID is a feature that allows you to reference Sync Products and Sync Variants\nby using the ID from your store.\n\nWhen requesting Sync Products and Sync Variants, you can use both the Printful ID\nand your External ID (if you prefix it with the `@` symbol).\n\n```\nGET /sync/products/11001  - reference by Printful Sync Product ID\nGET /sync/products/@988123  - reference by Shopify (or other platform's) Product ID\nGET /sync/variant/123456  - reference by Printful Sync Variant ID\nGET /sync/variant/@123123  - reference by Shopify (or other platform's)  Variant ID\n```\n\n### Specifying products\n\nTo specify the exact variant of the product, you have to use the `variant_id` attribute of the order item. Each\navailable unique item (including size/color) has its own Variant ID that can be acquired through\nthe [Catalog API](#tag/Catalog-API).\n\n### Adding print files\n\nThere are two ways to assign a print file to the item.\nOne is to specify the File ID if the file already exists in the file library of the authorized store:\n\n```json\n...\n\"files\":\n  [\n    {\n      \"id\": 12345\n    },\n  ],\n...\n```\n\nSecond, and the most convenient method is to specify the file URL.\nIf a file with the same URL already exists, it will be reused:\n\n```json\n...\n\"files\":\n  [\n    {\n      \"url\": \"http://example.com/t-shirts/123/front.pdf\"\n    },\n  ],\n...\n```\n\n### Specifying multiple files per item\n\nEach item in the order has to be linked with one or multiple files. The available file types for each product are\navailable from the [Catalog API](#tag/Catalog-API).\n\nYou can add one file for each type by specifying the `type` attribute. For the `default` type, this attribute can be\nskipped.\n\n```json\n...\n\"files\":\n  [\n    {\n      \"type\": \"default\",\n      \"url\": \"http://example.com/t-shirts/123/front.pdf\"\n    },\n    {\n      \"type\": \"back\",\n      \"url\": \"http://example.com/t-shirts/123/back.pdf\"\n    }\n  ],\n...\n```\n\nRemember that using additional files can increase the price of the item.\n\n[See examples](#tag/Examples/Ecommerce-Platform-Sync-API-examples/Modify-a-Sync-Variant)\n"
    },
    {
      "name": "Country/State Code API",
      "description": "To create an order, you have to use country and state codes to specify the recipient address. Both country code and state code are mandatory for orders to the USA, Canada and Australia. For other countries only the country code is needed to create an order.\n\nCountry codes are based on the ISO 3166-1 alpha-2 standard and are two letters long.\n\nState codes are based on the ISO 3166-2 standard by omitting the country code part of the code and are used only for the USA, Canada, Japan and Australia.\n\nAll state/country codes that Printful accepts can be listed by this API.\n"
    },
    {
      "name": "Tax Rate API",
      "description": " "
    },
    {
      "name": "Webhook API",
      "description": "Webhooks are an API feature that allows your system to receive notifications about certain events.\n\nWhen an event occurs, the Printful server ([Webhook Simulator](https://www.printful.com/api/webhook-simulator))\nwill make a POST request to your defined\nURL that will contain a JSON object in the request body.\nYour server has to respond with HTTP status `2xx OK`,\notherwise, the request will be retried in increasing intervals\n(after 1, 4, 16, 64, 256 and 1024 minutes).\n\nThe JSON object will always contain these attributes:\n<table>\n    <tr>\n        <td><strong>type</strong></td>\n        <td>string</td>\n        <td>Event type</td>\n    </tr>\n    <tr>\n        <td><strong>created</strong></td>\n        <td>timestamp</td>\n        <td>Event time</td>\n    </tr>\n    <tr>\n        <td><strong>retries</strong></td>\n        <td>integer</td>\n        <td>Number of previous attempts to deliver this webhook event</td>\n    </tr>\n    <tr>\n        <td><strong>store</strong></td>\n        <td>integer</td>\n        <td>ID of the store that the event occured to</td>\n    </tr>\n    <tr>\n        <td><strong>data</strong></td>\n        <td>Object</td>\n        <td>Additional data, depending on the event type</td>\n    </tr>\n</table>\n\nPlease use [Webhook Simulator](https://www.printful.com/api/webhook-simulator) to test your webhook event receiver.\n\nTo set up webhooks, use API requests described below:"
    },
    {
      "name": "Store Information API",
      "description": " "
    },
    {
      "name": "Mockup Generator API",
      "description": "To generate mockups, first, you need to decide on which products you want them. API methods on retrieving products and\nvariants can be found in the [Catalog API](#tag/Catalog-API).\n\n**Note**: Remember to distinguish the difference between a product id and a variant id. Some API endpoints require an id\nfrom a variant and some from a product.\n\n**Important**: Jewelry products are not supported via API.\n\n### Print files\n\nA print file defines resolution which should be used to create a mockup or to submit an actual order.\n\nInformation about product variant print files can be retrieved from the [print file endpoint](#operation/getPrintfiles).\n\nFor example, a 10×10 poster requires a 1500×1500 pixel print file to produce a 150 DPI print. You can use higher\nresolution files to achieve a better result, but keep the side aspect ratio the same as the defined for the print file.\nThat means, if you use a 3000×3000 pixel file, it will produce a 300 DPI print. But if you use a 3000×1500 pixel file (\ndifferent aspect ratio) on a 10×10 poster, some cropping will occur. Print file's `fill_mode` parameter defines if\ncropping will happen, or the file will be fitted on the resulting print area of the product.\n\nSome print files can be rotated. `can_rotate` field defines this feature. This mostly applies to wall art products and\nshould be used if you want to generate a horizontal or a vertical product mockup.\n\nWall art print files are defined horizontally. If you wish to create a vertical mockup, you can rotate the file's print\nfile and the generated mockup will be in the given orientation. For example, 16×12 poster print file is 2400×1800 pixels\nwhich generate it horizontally. If you wish to get a vertical mockup, you create the print file as 1800×2400 pixels. The\nsame strategy applies when you submit an order.\n\nPrint files are often re-used for multiple variants and products. For example, a 14×14 poster uses the same print file\nas a framed poster. Most of the t-shirt front prints use the same print file too.\n\n**Note**: When you generate mockups there is no need to provide a full-sized print file. Mockups are generated up to\n2000px wide, so you can downscale your print file to 2000px. This will reduce the processing time on your and Printful's\nside. Print file image file size limit: 50MB.\n\n### Mockup generation\n\nMockup generation requires some time, that is why it cannot happen in real-time.\n\nWhen you request a mockup to be generated, a task is created and you receive the task key which can then be used to\nretrieve the generated mockup list. We cannot guarantee that after a certain time the mockups will be generated, so you\nwill have to check frequently if the task is done. The first request for a result should not be sooner than 10 seconds.\nSo plan that the generation task will be done in two steps - creating a task and the checking with intervals if the task\nis ready.\n\n<div class=\"alert alert-info\">\n<strong>Important</strong><br>\nURLs to mockup images are temporary, they will expire after 72h, so you have to store them on your\nserver.\n</div>\n\n### Process flow\n\n1. Decide which product variants you want to generate.\n\n2. Retrieve the list of print files for chosen product and variants. Use the variant print file mappings to determine\n   which print file you need to generate for specific placement on a specific product's variant.\n\n3. Upload your file to a public URL that matches the print file size ratio (or provide positions for the generation\n   request)\n\n4. Create a mockup generation task and store the task key.\n\n5. Use the task key to check if the task is completed. If still pending, repeat after an interval.\n\n6. When the task is done, download and store mockups on your server. Mockup URLs are temporary and will be removed after\n   a day.\n\n### Available techniques\n\nThe `/mockup-generator/printfiles/{id}` and `/mockup-generator/templates/{id}` endpoint accept `technique` parameter.\n\nThe following table presents the available values of this parameter.\n\n| Value         | Description           |\n|---------------|-----------------------|\n| `DIGITAL`     | Digital printing      |\n| `CUT-SEW`     | Cut & sew sublimation |\n| `UV`          | UV printing           |\n| `EMBROIDERY`  | Embroidery            |\n| `SUBLIMATION` | Sublimation           |\n| `ENGRAVING`   | Engraving             |\n| `DTG`         | DTG printing          |\n\n### Usage example\n\nLet's take an example. You want to offer users to design of their t-shirt.\n\nWe'll pick this shirt as an example\n[Bella + Canvas 3001 Unisex T-shirt](https://www.printful.com/custom/mens/t-shirts/unisex-staple-t-shirt-bella-canvas-3001)\n\nIts product id is `71`.\n\nLet's fetch some variants available for this shirt:\n`https://api.printful.com/products/71`\n\nWe'll choose a white and black shirt in M, L, XL sizes. Respective variant ids:\n`4012`, `4013`, `4014`, `4017`, `4018` and `4019`.\n\nNext, we need to get the print file sizes for these variants:\n`https://api.printful.com/mockup-generator/printfiles/71`\n\nWe see that there are two placements available for this product - `front` and `back`. Posters, for example, will only\nhave one placement called `default`.\n\nBy looking up our picked variant ids, we see that they all use the same print file for back and front prints:\n\n```json\n{\n  \"product_id\": 71,\n  \"available_placements\": {\n    \"front\": \"Front print\",\n    \"back\": \"Back print\",\n    \"label_outside\": \"Outside label\"\n  },\n  \"printfiles\": [\n    {\n      \"printfile_id\": 1,\n      \"width\": 1800,\n      \"height\": 2400,\n      \"dpi\": 150,\n      \"fill_mode\": \"fit\",\n      \"can_rotate\": false\n    }\n  ],\n  \"variant_printfiles\": [\n    {\n      \"variant_id\": 4012,\n      \"placements\": {\n        \"front\": 1,\n        \"back\": 1\n      }\n    }\n  ]\n}\n```\n\n- `dpi` For given width and height, this is the resulting DPI on the actual product.\n\n- `fill_mode` Possible values: \"fit\" or \"cover\". Indicates in what mode mockups will be generated.\n\n- `can_rotate` Posters, for example, allow rotation. If you pass the image in horizontal positions.\n\n- `placements.front` Printfile id.\n\nWe can see that the full print file size is 1800×2400 for back and front prints for chosen variants.\n\nWhen we know the size of the print file, we need to calculate the positions. Position values are relative here, image\nsize does not have to match the width and height of positions. When mockup is generated we will fit the position area\ninside the print area or will cover it, depending on the print file `fill_mode` value.\n\nPositions given below would result in a square image centered vertically within the print area.\n\n```json\n{\n  \"area_width\": 1800,\n  \"area_height\": 2400,\n  \"width\": 1800,\n  \"height\": 1800,\n  \"top\": 300,\n  \"left\": 0\n}\n```\n\n- `area_width` Relative width of the print area.\n\n- `area_height` Relative height of the print area.\n\n- `width` Relative width of your image.\n\n- `height` Relative height of your image.\n\n- `top` Relative image top offset within the area.\n\n- `left` Relative image left offset within the area.\n\n<div class=\"alert alert-info\">\n<strong>Important</strong><br>\nFor posters, canvas, and other products which print files allow rotation (<code>can_rotate</code> value in <a href=\"#operation/getPrintfiles\">print file response</a>) you\ncan flip width and height to create a product mockup that is horizontal or vertical.\n</div>\n\nOnce we have calculated the positions, we can perform the actual mockup generation using\nthe [mockup generator endpoint](#operation/createGeneratorTask):\n`POST` to `https://api.printful.com/mockup-generator/create-task/71` with body parameters:\n\n```json\n{\n  \"variant_ids\": [\n    4012,\n    4013,\n    4014,\n    4017,\n    4018,\n    4019\n  ],\n  \"format\": \"jpg\",\n  \"files\": [\n    {\n      \"placement\": \"front\",\n      \"image_url\": \"http://your-site/path-to-front-printfile.jpg\",\n      \"position\": {\n        \"area_width\": 1800,\n        \"area_height\": 2400,\n        \"width\": 1800,\n        \"height\": 1800,\n        \"top\": 300,\n        \"left\": 0\n      }\n    },\n    {\n      \"placement\": \"back\",\n      \"image_url\": \"http://your-site/path-to-back-printfile.jpg\",\n      \"position\": {\n        \"area_width\": 1800,\n        \"area_height\": 2400,\n        \"width\": 1800,\n        \"height\": 1800,\n        \"top\": 300,\n        \"left\": 0\n      }\n    }\n  ]\n}\n```\n\nIn response, you will receive the task key and current task status:\n\n```json\n{\n  \"task_key\": \"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n  \"status\": \"pending\"\n}\n```\n\nAfter an interval of a few seconds, you can try to check for the result by calling a `GET` request\non `https://api.printful.com/mockup-generator/task?task_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx`\nIf the task is completed, the response will be like this:\n\n```json\n{\n  \"task_key\": \"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n  \"status\": \"completed\",\n  \"mockups\": [\n    {\n      \"variant_ids\": [\n        4011,\n        4012,\n        4013\n      ],\n      \"placement\": \"front\",\n      \"mockup_url\": \"https://url-to/front-mockup.png\"\n    },\n    {\n      \"variant_ids\": [\n        4011,\n        4012,\n        4013\n      ],\n      \"placement\": \"back\",\n      \"mockup_url\": \"https://url-to/back-mockup.png\"\n    },\n    {\n      \"variant_ids\": [\n        4016,\n        4017,\n        4018\n      ],\n      \"placement\": \"front\",\n      \"mockup_url\": \"https://url-to/front-mockup.png\"\n    },\n    {\n      \"variant_ids\": [\n        4016,\n        4017,\n        4018\n      ],\n      \"placement\": \"back\",\n      \"mockup_url\": \"https://url-to/back-mockup.png\"\n    }\n  ]\n}\n```\n\nAt this point, you just have to download the mockup URLs and store them on your server and you're good to go!\n\n### Layout templates\n\nIf you wish to build your mockup generator UI, this is the place to start. Using\nthe [layout template endpoint](#operation/getPrintfiles)\nyou can get template images and positions necessary to create a tool where your users can position their files on.\n\nIf you want to create a mug generator, for example, you call the endpoint `/mockup-generator/templates/19` with mug\nproduct ID. By looking at the variant mapping field, we can determine that for variant `1320` 11oz mug we have to use\nthe template with ID `919`. This is what template structure looks like:\n\n```json\n{\n  \"template_id\": 919,\n  \"image_url\": \"https://www.printful.com/files/generator/40/11oz_template.png\",\n  \"background_url\": null,\n  \"background_color\": null,\n  \"printfile_id\": 43,\n  \"template_width\": 560,\n  \"template_height\": 295,\n  \"print_area_width\": 520,\n  \"print_area_height\": 202,\n  \"print_area_top\": 18,\n  \"print_area_left\": 20,\n  \"is_template_on_front\": true\n}\n```\n\n- `printfile_id` We can retrieve the actual printfile size from the printfiles endpoint.\n\n- `template_width` This is the main container width, pixels.\n\n- `template_height` Main container height.\n\n- `print_area_width` Inner area where positioning happens.\n\n- `print_area_height` Inner area.\n\n- `print_area_top` Offset from the main container.\n\n- `print_area_left` Offset from the main container.\n\n- `is_template_on_front` This indicates if we should show the user image below or above the template image.\n\nGiven this information, we can create a simple HTML markup:\n\n```html\n\n<div style=\"position: relative; width: 520px; height: 295px;\">\n    <div style=\"position: absolute; width: 520px; height: 202px; top:18px; left:20px; background:rgba(255,233,230,0.33)\">\n        <img alt=\"Printful logo\" src=\"https://printful.com/static/images/layout/logo-printful.png\"\n             style=\"position: absolute; left: 43px; top: 77px; width: 140px; height: 63px;\">\n    </div>\n    <div style=\"position: absolute; width: 560px; height: 295px; background:url(/files/generator/40/11oz_template.png) center center no-repeat\"></div>\n</div>\n```\n\nWhich would look like this in the browser:\n\n<div style=\"position: relative; width: 520px; height: 295px;\">\n    <div style=\"position: absolute; width: 520px; height: 202px; top:18px; left:20px; background:rgba(255,233,230,0.33)\">\n        <img src=\"https://printful.com/static/images/layout/logo-printful.png\" alt=\"Printful logo\"\n             style=\"position: absolute; left: 43px; top: 77px; width: 140px; height: 63px;\">\n    </div>\n    <div style=\"position: absolute; width: 560px; height: 295px; background:url(/files/generator/40/11oz_template.png) center center no-repeat\"></div>\n</div>\n\nTo generate mockups with positions above, we perform a `POST` request\nto `https://api.printful.com/mockup-generator/create-task/19` with body parameters:\n\n```json\n{\n  \"variant_ids\": [\n    1320\n  ],\n  \"format\": \"jpg\",\n  \"files\": [\n    {\n      \"placement\": \"default\",\n      \"image_url\": \"https://www.printful.test/static/images/layout/logo-printful.png\",\n      \"position\": {\n        \"area_width\": 520,\n        \"area_height\": 202,\n        \"width\": 140,\n        \"height\": 63,\n        \"top\": 77,\n        \"left\": 43\n      }\n    }\n  ]\n}\n```\n\n- `area_width` Value of print_area_width in the template.\n- `area_height` Value of print_area_height in the template.\n- `width` Image width.\n- `height` Image height.\n- `top` Image top offset in area.\n- `left` Image left offset in area.\n\n\n### Choosing mockup styles\n\nTo choose which mockup styles to generate, you have to specify `options` and `option_groups` parameters in the request. If these parameters are not present in the request, the system will generate the first available mockup. If you are not planning to utilize all available mockups, it is advised to limit the requested mockups. Not limiting requested mockups will cause bigger task processing times and overall resource waste.\n\nTo find available `options` and `option_groups` for a given product, you have to use `/mockup-generator/printfiles/{id}` endpoint and search for `options` and `option_groups` fields in the response. See examples below.\n\n```\n{\n    \"variant_ids\": [4021],\n    \"format\": \"png\",\n    \"option_groups\": [\"Flat\"],\n    \"options\": [\"Front\"],\n    \"files\": [\n        {\n            \"placement\": \"front\",\n            \"image_url\": \"https://www.printful.com/static/images/layout/logo-printful.png\"\n        }\n    ]\n}\n```\n\n### Using lifelike effect\n\nLifelike is a feature that simulates how dark designs will look over dark colour products and is only used in mockup generation. For that, an extra file with special effect is created for each placement.\n\n```\n{\n    \"variant_ids\": [4018],\n    \"format\": \"png\",\n    \"product_options\": {\n      \"lifelike\": true\n    },\n    \"files\": [\n        {\n            \"placement\": \"front\",\n            \"image_url\": \"https://www.printful.com/static/images/layout/logo-printful.png\"\n        }\n    ]\n}\n```\n\n| Mockup without lifelike                        | Mockup with lifelike                        |\n|------------------------------------------------|---------------------------------------------|\n| ![Image](images/lifelike/without_lifelike.png) | ![Image](images/lifelike/with_lifelike.png) |\n"
    },
    {
      "name": "Warehouse Products API",
      "description": "Warehouse Products API"
    },
    {
      "name": "Reports API",
      "description": "The Reports API lets you retrieve reports like the statistics related to the orders fulfilled for your stores.\n"
    },
    {
      "name": "Approval Sheets API",
      "description": "Approval Sheets API"
    },
    {
      "name": "Common",
      "description": "# Options\nOptions allow for additional modification of how product will look.\n\n<details>\n    <summary>List of currently available thread color options</summary>\n\n| <div style=\"width:320px\">Option</div> | <div style=\"width:250px\">Placement</div> | Description                                               |\n|---------------------------------------|------------------------------------------|-----------------------------------------------------------|\n| `thread_colors`                       | `embroidery_front`                       | Thread colors for embroidery front placement              |\n| `thread_colors_back`                  | `embroidery_back`                        | Thread colors for embroidery back placement               |\n| `thread_colors_right`                 | `embroidery_right`                       | Thread colors for embroidery right placement              |\n| `thread_colors_left`                  | `embroidery_left`                        | Thread colors for embroidery left placement               |\n| `thread_colors_apparel`               | `embroidery_apparel_front`               | Thread colors for embroidery apparel front placement      |\n| `thread_colors_apparel_back`          | `embroidery_apparel_back`                | Thread colors for embroidery apparel back placement       |\n| `thread_colors_chest_center`          | `embroidery_chest_center`                | Thread colors for embroidery chest center placement       |\n| `thread_colors_large_center`          | `embroidery_large_center`                | Thread colors for embroidery large center placement       |\n| `thread_colors_large_corner_right`    | `embroidery_large_corner_right`          | Thread colors for embroidery large corner right placement |\n| `thread_colors_chest_left`            | `embroidery_chest_left`                  | Thread colors for embroidery chest left placement         |\n| `thread_colors_corner_left`           | `embroidery_corner_left`                 | Thread colors for embroidery corner left placement        |\n| `thread_colors_chest_top_left`        | `embroidery_chest_top_left`              | Thread colors for embroidery chest top left placement     |\n| `thread_colors_corner_right`          | `embroidery_corner_right`                | Thread colors for embroidery corner right placement       |\n| `thread_colors_outside_left`          | `embroidery_outside_left`                | Thread colors for embroidery outside left placement       |\n| `thread_colors_outside_right`         | `embroidery_outside_right`               | Thread colors for embroidery outside right placement      |\n| `thread_colors_inside_left`           | `embroidery_inside_left`                 | Thread colors for embroidery inside left placement        |\n| `thread_colors_inside_right`          | `embroidery_inside_right`                | Thread colors for embroidery inside right placement       |\n| `thread_colors_patch_front`           | `embroidery_patch_front`                 | Thread colors for embroidery patch front placement        |\n| `thread_colors_sleeve_left_top`       | `embroidery_sleeve_left_top`             | Thread colors for embroidery sleeve left top placement    |\n| `thread_colors_sleeve_right_top`      | `embroidery_sleeve_right_top`            | Thread colors for embroidery sleeve right top placement   |\n| `thread_colors_wrist_left`            | `embroidery_wrist_left`                  | Thread colors for embroidery wrist left placement         |\n| `thread_colors_wrist_right`           | `embroidery_wrist_right`                 | Thread colors for embroidery wrist right placement        |\n| `thread_colors_outline`               | Not applicable (Embroidery patches)      | Thread colors for embroidery patch outline                |\n\n</details>\n\n<details>\n    <summary>List of currently available Text thread color options</summary>\n\n| <div style=\"width:320px\">Option</div>   | <div style=\"width:250px\">Placement</div> | Description                                                    |\n|-----------------------------------------|------------------------------------------|----------------------------------------------------------------|\n| `text_thread_colors`                    | `embroidery_front`                       | Text thread colors for embroidery front placement              |\n| `text_thread_colors_back`               | `embroidery_back`                        | Text thread colors for embroidery back placement               |\n| `text_thread_colors_right`              | `embroidery_right`                       | Text thread colors for embroidery right placement              |\n| `text_thread_colors_left`               | `embroidery_left`                        | Text thread colors for embroidery left placement               |\n| `text_thread_colors_apparel`            | `embroidery_apparel_front`               | Text thread colors for embroidery apparel front placement      |\n| `text_thread_colors_apparel_back`       | `embroidery_apparel_back`                | Text thread colors for embroidery apparel back placement       |\n| `text_thread_colors_chest_center`       | `embroidery_chest_center`                | Text thread colors for embroidery chest center placement       |\n| `text_thread_colors_large_center`       | `embroidery_large_center`                | Text thread colors for embroidery large center placement       |\n| `text_thread_colors_large_corner_right` | `embroidery_large_corner_right`          | Text thread colors for embroidery large corner right placement |\n| `text_thread_colors_chest_left`         | `embroidery_chest_left`                  | Text thread colors for embroidery chest left placement         |\n| `text_thread_colors_corner_left`        | `embroidery_corner_left`                 | Text thread colors for embroidery corner left placement        |\n| `text_thread_colors_chest_top_left`     | `embroidery_chest_top_left`              | Text thread colors for embroidery chest top left placement     |\n| `text_thread_colors_corner_right`       | `embroidery_corner_right`                | Text thread colors for embroidery corner right placement       |\n| `text_thread_colors_outside_left`       | `embroidery_outside_left`                | Text thread colors for embroidery outside left placement       |\n| `text_thread_colors_outside_right`      | `embroidery_outside_right`               | Text thread colors for embroidery outside right placement      |\n| `text_thread_colors_inside_left`        | `embroidery_inside_left`                 | Text thread colors for embroidery inside left placement        |\n| `text_thread_colors_inside_right`       | `embroidery_inside_right`                | Text thread colors for embroidery inside right placement       |\n| `text_thread_colors_patch_front`        | `embroidery_patch_front`                 | Text thread colors for embroidery patch front placement        |\n| `text_thread_colors_sleeve_left_top`    | `embroidery_sleeve_left_top`             | Text thread colors for embroidery sleeve left top placement    |\n| `text_thread_colors_sleeve_right_top`   | `embroidery_sleeve_right_top`            | Text thread colors for embroidery sleeve right top placement   |\n| `text_thread_colors_wrist_left`         | `embroidery_wrist_left`                  | Text thread colors for embroidery wrist left placement         |\n| `text_thread_colors_wrist_right`        | `embroidery_wrist_right`                 | Text thread colors for embroidery wrist right placement        |\n\n</details>\n\n<details>\n    <summary>List of currently available other options</summary>\n\n| <div style=\"width:150px\">Option</div> | <div style=\"width:150px\">Placement</div> | Description                                                                                                                                                                                                                                                                                                              |\n|---------------------------------------|------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `thread_colors_3d`                    | Not applicable                           | 3D Puff thread colors                                                                                                                                                                                                                                                                                                    |\n| `embroidery_type`                     | Not applicable                           | Type of embroidery technique (flat, 3d, both)                                                                                                                                                                                                                                                                            |\n| `notes`                               | Not applicable                           | This box is for you to enter specific instructions about your print files or to warn us that the graphic may not perfectly match the mock-up. If you would like our graphics department to edit anything you can also notate those details in this box and someone from our team will contact you with an editing quote. |\n| `stitch_color`                        | Not applicable                           | Zipper & Stitch color                                                                                                                                                                                                                                                                                                    |\n| `inside_pocket`                       | Not applicable                           | Should inside pocket be added                                                                                                                                                                                                                                                                                            |\n| `lifelike`                            | Not applicable                           | Adds \"washed out\" effect to the generated mockups                                                                                                                                                                                                                                                                        |\n\n</details>\n\n<details>\n    <summary>List of currently available file options</summary>\n\n| <div style=\"width:150px\">Option</div> | <div style=\"width:150px\">Placement</div> | Description                                                                                |\n|---------------------------------------|------------------------------------------|--------------------------------------------------------------------------------------------|\n| `full_color`                          | Not applicable                           | Allows you to embroider multi-color, gradient, or simple designs with no color limitations |\n| `auto_thread_color`                   | Not applicable                           | Automatically match available thread colors to provided image                              | \n\n</details>\n\n# Placements\n\n<details>\n    <summary>Complete list of every placement</summary>\n\n| <div style=\"width:150px\">Placement</div> | Description                                                                                                             |\n|------------------------------------------|-------------------------------------------------------------------------------------------------------------------------|\n| `default`                                | Default placement is different for every product. For example for T-SHIRT with id `71` the default placement is `front` |\n| `front`                                  | Front placement                                                                                                         |\n| `back`                                   | Front placement                                                                                                         |\n| `sleeve_left`                            | Sleeve left placement                                                                                                   |\n| `sleeve_right`                           | Sleeve right placement                                                                                                  |\n| `embroidery_chest_left`                  | Placement on left side of the chest made in `embroidery` technique                                                      |\n| `embroidery_chest_center`                | Placement on the center of the chest made in `embroidery` technique                                                     |\n| `label_outside`                          | Label outside placement                                                                                                 |\n| `embroidery_large_center`                | Large placement in center made in `embroidery` technique                                                                |\n| `label_inside`                           | Label inside placement                                                                                                  |\n| `front_large`                            | Large front placement                                                                                                   |\n| `embroidery_front`                       | Front placement made in `embroidery` technique                                                                          |\n| `embroidery_back`                        | Back placement made in `embroidery` technique                                                                           |\n| `embroidery_right`                       | Right side placement made in `embroidery` technique                                                                     |\n| `embroidery_left`                        | Left side placement made in `embroidery` technique                                                                      |\n| `belt_front`                             | Front of the belt                                                                                                       |\n| `belt_back`                              | Back of the belt                                                                                                        |\n| `top`                                    | Top placement                                                                                                           |\n| `pocket`                                 | Pocket placement                                                                                                        |\n| `bottom`                                 | Bottom placement                                                                                                        |\n| `embroidery_apparel_front`               | Apparel front placement made in `embroidery` technique                                                                  |\n| `belt`                                   | Belt placement                                                                                                          |\n| `top_front`                              | Top front placement                                                                                                     |\n| `top_back`                               | Top back placement                                                                                                      |\n| `leg_right`                              | Right leg placement                                                                                                     |\n| `leg_left`                               | Left leg placement                                                                                                      |\n| `embroidery_sleeve_left_top`             | Placement on left top side of sleeve made in `embroidery` technique                                                     |\n| `embroidery_sleeve_right_top`            | Placement on right top side of sleeve made in `embroidery` technique                                                    |\n| `embroidery_wrist_left`                  | Placement on wrist area of left sleeve made in `embroidery` technique                                                   |\n| `embroidery_wrist_right`                 | Placement on wrist area of right sleeve made in `embroidery` technique                                                  |\n| `hood`                                   | Hood placement                                                                                                          |\n| `details`                                | Details placement                                                                                                       |\n| `leg_front_left`                         | Placement on front left leg                                                                                             |\n| `leg_front_right`                        | Placement on front right leg                                                                                            |\n| `leg_back_left`                          | Placement on back left leg                                                                                              |\n| `leg_back_right`                         | Placement on back right leg                                                                                             |\n| `ear_left`                               | Left ear placement                                                                                                      |\n| `ear_right`                              | Right ear placement                                                                                                     |\n| `embroidery_apparel_back`                | Apparel back placement made in `embroidery` technique                                                                   |\n| `embroidery_chest_top_left`              | Top left chest placement made in `embroidery` technique                                                                 |\n| `embroidery_corner_right`                | Right corner placement made in `embroidery` technique                                                                   |\n| `sides`                                  | Sides placement                                                                                                         |\n| `bottom_front`                           | Bottom front placement                                                                                                  |\n| `bottom_back`                            | Bottom back placement                                                                                                   |\n| `lining_top`                             | Lining top placement                                                                                                    |\n| `lining_bottom`                          | Lining bottom placement                                                                                                 |\n| `embroidery_corner_left`                 | Left corner placement made in `embroidery` technique                                                                    |\n| `embroidery_outside_left`                | Outside left placement made in `embroidery` technique                                                                   |\n| `embroidery_outside_right`               | Outside right placement made in `embroidery` technique                                                                  |\n| `embroidery_inside_left`                 | Inside left placement made in `embroidery` technique                                                                    |\n| `embroidery_inside_right`                | Inside right placement made in `embroidery` technique                                                                   |\n| `background`                             | Background placement                                                                                                    |\n| `shoe_quarters_left`                     | Quarters left placement of shoe                                                                                         |\n| `shoe_quarters_right`                    | Quarters right placement of shoe                                                                                        |\n| `shoe_tongue_left`                       | Shoe left tongue placement                                                                                              |\n| `shoe_tongue_right`                      | Shoe right tongue placement                                                                                             |\n| `embroidery_patch_front`                 | Front patch placement made in `embroidery` technique                                                                    |\n| `embroidery_large_corner_right`          | Large right corner placement made in `embroidery` technique                                                             |\n| `inside1`                                | Inside placement                                                                                                        |\n| `inside2`                                | Inside placement                                                                                                        |\n| `shoe_left`                              | Left shoe placement                                                                                                     |\n| `shoe_right`                             | Right shoe placement                                                                                                    |\n| `side_right`                             | Right side placement                                                                                                    |\n| `side_left`                              | Left side placement                                                                                                     |\n\n</details>\n\n# Embroidery\n\n## Manually defining thread colors\nWhenever the embroidery placement is used it's also necessary to specify thread colors which should be used.\nThread color option must be matched with [appropriate placement](#tag/Common/Options).\n<br />\nTo determine what thread colors could be used you can use [thread color suggestion endpoint](#tag/Examples/File-Library-API-examples/Suggest-thread-colors) and then adjust thread colors manually according to your taste.\n<br />\n<b>Note that you can specify max 6 thread colors</b>\n```\n\"files\": [\n    {\n        \"type\": \"embroidery_outside_left\",\n        \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\"\n    }\n],\n\"options\": [\n    {\n        \"id\": \"thread_colors_outside_left\",\n        \"value\": [\"#FFFFFF\", \"#000000\", \"#96A1A8\", \"#A67843\", \"#FFCC00\", \"#E25C27\"]\n    }\n]\n```\n\n## Automatic thread color\nInstead of providing thread colors manually you can also use the `auto_thread_color` which will match available thread colors to provided image.\n\n```\n\"files\": [\n    {\n        \"type\": \"embroidery_outside_left\",\n        \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\",\n        \"options\": [\n            {\n                \"id\": \"auto_thread_color\",\n                \"value\": true\n            }\n        ]\n    }\n]\n```\n\n## Unlimited color\nWhen using the embroidery technique you are limited to a range of predefined thread colors. If you would like to use an unlimited range of thread colors please use <b>Unlimited Color</b> (additional cost will be added). To use <b>Unlimited Color</b> add for each file object an extra parameter in options with id: `full_color`.\nWhile using <b>Unlimited Color</b> you don’t need to specify thread colors. The `full_color` option can be used in Orders, Products, Mockup Generator and Ecommerce Platform Sync API.\n\n```\n\"items\": [\n    {\n        \"variant_id\": 4468,\n        \"quantity\": 1,\n        \"files\": [\n            {\n                \"type\": \"embroidery_back\",\n                \"url\": \"https://www.printful.com/static/images/layout/printful-logo.png\",\n                \"options\": [\n                    {\n                        \"id\": \"full_color\",\n                        \"value\": true\n                    }\n                ]\n            }\n        ]\n    }\n]\n```\n\n<div class=\"alert alert-info\">\n    Unlimited color is available for selected products.\n    To distinguish products with unlimited color option and pricing please \n    see catalog <a href=\"#tag/Examples/Catalog-API-examples/Product-containing-Unlimited-Color-option\">example</a> \n    response for a product with this option available.\n</div>\n\n[Example order](#tag/Examples/Orders-API-examples/Using-full-color-option)\n\n| Mockup without Unlimited Color                               | Mockup with Unlimited Color                               |\n|--------------------------------------------------------------|-----------------------------------------------------------|\n| ![Image](images/unlimited-color/without-unlimited-color.png) | ![Image](images/unlimited-color/with-unlimited-color.png) |\n"
    },
    {
      "name": "Other resources",
      "description": "## Developer support\n\nThe previous dedicated developer support channel is not currently monitored.\n\nWith all questions, including ones related to our API, please contact our Customer Support\nat [https://www.printful.com/contacts](https://www.printful.com/contacts).\n\n## Bug reporting\n\nTo report a potential security vulnerability, please send a detailed email to the contacts\ndescribed in our [security.txt](https://printful.com/.well-known/security.txt) file.\n\nTo help us investigate and validate your findings, please include the following information in your report:\n\n- **A clear description** of the vulnerability, including its potential impact.\n- **Detailed steps to reproduce** the vulnerability, including any URLs, parameters, or screenshots.\n- Your contact information, so we can follow up with you.\n\nFor security reasons, please encrypt your submission with the following [PGP key](https://keys.openpgp.org/search?q=security%40printful.com).\n\n### Guidelines for Responsible Testing\n\nTo protect our systems and users, we ask that you act in good faith and follow these guidelines\nwhile conducting your research:\n\n- Avoid actions that could disrupt our services, such as denial-of-service (DoS) attacks.\n- Do not access, modify, or delete data more than it is necessary to demonstrate the impact of the issue.\n\n### Recognition and Bounties\n\nWe are grateful for the community's efforts in helping us to keep our platform safe.\nYour suggestions and reports are thoroughly investigated, and we will work with you to resolve\nvalid security issues in our platform.\n\n**Please note that we do not offer a bug bounty program\nor provide monetary compensation for vulnerability disclosures.**\n\nThank you for helping us keep **Printful** and our users safe.\n\n## Webhook Simulator\n\n[Webhook Simulator](https://www.printful.com/api/webhook-simulator) is a tool that allows you to test your webhook functionality.\nIt will send a selected event type to your webhook URL.\nThis way you will be able to easily develop and test your webhook handlers.\n"
    },
    {
      "name": "Basic use cases",
      "description": "# Basic use cases\n\nAll the API integrations begin with a decision on how to authenticate with the Printful API. The most common use cases for Printful API integrations are:\n\n<pre class=\"mermaid\">\n    graph TD\n    A[Authentication Methods] --> B[Private API Token]\n    A --> C[Public App OAuth]\n    B --> D[Single Printful Account]\n    C --> G[Single Printful Account of Marketplace Owner]\n    G --> E[Multiple Printful Accounts]\n    E --> H[Merchant 1]\n    E --> I[Merchant 2]\n    E --> J[Merchant 3]\n</pre>\n\n- Private API token\nMeans that you are building a solution for your own store, using a single Printful account.\n\n<pre class=\"mermaid\">\n    sequenceDiagram\n    participant User as End User\n    participant Shop as Single Shop\n    participant Printful as Printful API\n\n    User->>Shop: Access Single Shop\n    Shop->>User: User Account Linked Successfully\n\n    Shop->>Printful: Authenticate with API Token\n    Printful->>Shop: Return Authentication Success\n\n    User->>Shop: Request Product Catalog\n    Shop->>Printful: Retrieve Product Catalog\n    Printful->>Shop: Return Product Catalog\n    Shop->>User: Display Product Catalog\n\n    Note over Shop,User: User can now design and order products\n\n    User->>Shop: Place Order\n    Shop->>Printful: Create Order\n    Printful->>Shop: Order Created Successfully\n    Shop->>User: Order Confirmation and Tracking\n</pre>\n\n- Public App OAuth\nIs used for more complex integrations, where you are building an app that will be used by multiple users, each with their own Printful account. For example a merchant platform.\n\n<pre class=\"mermaid\">\nsequenceDiagram\n    participant User as End User\n    participant App as Public App (Marketplace)\n    participant Printful as Printful API\n\n    User->>App: Access Public App (Marketplace)\n    App->>User: Redirect to Printful Authorization Page\n    User->>Printful: Authorize App (Grant Permissions)\n    Printful->>User: Return Authorization Code\n    User->>App: Provide Authorization Code\n    App->>Printful: Exchange Authorization Code for Access Token\n    Printful->>App: Return Access Token\n    App->>User: User Account Linked Successfully\n\n    User->>Printful: Request Product Catalog\n    Printful->>User: Return Product Catalog\n\n    Note over App,User: User can now design and order products\n\n    User->>App: Place Order\n    App->>Printful: Create Order on Behalf of User\n    Printful->>App: Order Created Successfully\n    App->>User: Order Confirmation and Tracking\n\n    Note over App,Printful: App manages multiple users independently\n</pre>\n\nBoth private api token and public app can be created in https://developers.printful.com\n
[...]
